a {
    text-decoration: none;
    color:#F9FAF8;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

img {
    border-radius: 20px;
    
}

.firstcontainer {
    background-color:#1F2937;
}

.headerlinkcontainer {
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    
}

.headerlinks {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    
}



.link1, .link2, .link3 {
    margin: 10px;
    list-style-type: none;
    transition-duration: 0.5s;

}

a:hover {
    color: #3882F6;
}



.headerlogo {
    font-weight: bold;
    color:#F9FAF8;
    margin-bottom: 100px;
    font-size: 24px;
}

.awesomewebsite {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 200px;
    
    
    
}



.titleawesome {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    padding:10px;
    margin: 2px;
    

}

.subtext1 {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
    margin: 2px;
}

.button1 {
    color:white;
    font-weight: bold;
    background-color:#3882F6;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    padding: 0px;
    margin: 5px;
    transition-duration: 0.35s;
    
    
}

.button1:hover {
    background-color: rgb(255, 255, 255);
    color:#3882F6;
    letter-spacing: 0.1em;



}







.awesome {

    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    
    
}

.imageholder {
    display: flex;
    flex-direction: row;
    
}

.randominformationcontainer {
    background-color: #1f2d42;

     display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    
    
  
}

.randominformation {
    font-size: 36px;
    font-weight: bold;
    color: whitesmoke
}

.informationcontainer {
    display: flex;
    justify-content: center;
}


.blueimages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    
    
}


    
    
.image1, .image2, .image3, .image4 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;

    
    
    
    
    
}

.paragraph1, .paragraph2, .paragraph3, .paragraph4 {
    word-wrap: break-word;
    
    color: whitesmoke;
    font-style: italic;
    

    
    

}


    





.inspiringquotecontainer {
    background-color: rgb(129, 151, 179);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}

.inspiringquotecontain {
    padding: 10px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
   
    
}


.inspiringquote {
    font-size: 30px;
    font-style: italic;
}

.inspiringquote1 {
    font-weight: bold;

}

.inspcont1 {
    display: flex;
    flex-direction: row;
    margin-left: auto;

}

.callactioncontainer {
    background-color: rgb(31, 39, 61);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bluecontainer {
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    padding: 20px;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
}


.actiontimecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.callaction {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.Signuptext {
    color: white;
    margin: 0px;

}






.footercontainer {
    background-color:#1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    
}

.buttoncontainer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    
}

.button2 {
    color:white;
    font-weight: bold;
    background-color:#3882F6;
    border-color: white;
    border-width: 3px;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    height: auto;
    box-sizing: content-box;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.55s;

    
    
    
}

.button2:hover {
    background-color: white;
    color: #3882F6;
    letter-spacing: 0.1em;

}

.footer {
    font-size: 20px;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}
